<h1>こんにちは</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
<tbody>



<% @pics.each do |pic| %>
  <tr>
    <td><%= pic.name %></td>
    <td><%= image_tag pic.image.to_s %></td>
  </tr>
<% end %>



  </tbody>
</table>
<br>

